/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body {
        width: 100%;
        background-color: black !important;
      }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    body {
        width: 100%;
        background-color: black !important;
      }
 }

//*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    body {
        width: 100%;
        background-color: black !important;
      }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    body {
        width: 100%;
        background-color: black !important;
      }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        width: 100%;
        background-color: black !important;
      }
 }

 body {
    color: #fff !important;
    background-color: black !important;
    
 }
  h1.title {
    font-size: 50px;
    padding-top:30px;
    text-align:center;
  }

  .col {
    padding: 10px;
  }
  img {
    width:300px;
  }
  .icon {
    width: 32px;
    margin-right: 5px;
  }
  
  a.homelink {
    color:#fff;
  }
  a.homelink:visited {
    color:#fff;
  }
  a.homelink:hover {
    color:#fff;
    text-decoration:none;
  }
