.footer-container {
    display:flex;
    margin-bottom: 10px;
}

.footer-container .social-media-section .icon-container {
    display:flex;
    width:100%;
}
.footer-container .social-media-section {
    padding: 0;
}

.footer-icon {
    width: 48px;
    margin-right: 16px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.website-link {
    font-family: Roboto;
    font-size: 12px;
}

.copywrite {
    font-family: Roboto;
    font-size: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-bottom: 20px;
}

@media (min-width: 1025px) {
    .footer-container {
        margin-top: 118px;
        padding-left: 145px;
        padding-right: 145px;
    }

    .footer-title {
    }

    .footer-icon {
        width: 34px;
    }

    /* .footer-sub-container {
        padding-left: 140px;
        padding-right: 140px
    } */

    .footer-links {
        padding-left: 150px;
    }

    .copywrite {
        font-size: 20px;
    }

}