.footer-container {
    margin-top: 48px;
    padding: 100px;
}

.footer-sub-container {
    display: flex;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-bottom: 18px;
}

.footer-social-media {
    width: 50vw;
    margin-right: 24px;
}

/* .footer-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
} */

.footer-icon {
    width: 48px;
    margin-right: 16px;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.website-link {
    font-family: Roboto;
    font-size: 12px;
}

.copywrite {
    font-family: Roboto;
    font-size: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-bottom: 20px;
}

@media (min-width: 1025px) {
    .footer-container {
        margin-top: 118px;
        padding-left: 145px;
        padding-right: 145px;
    }

    .footer-title {
        font-size: 24px;
    }

    .footer-icon {
        width: 34px;
    }

    /* .footer-sub-container {
        padding-left: 140px;
        padding-right: 140px
    } */

    .footer-links {
        padding-left: 150px;
    }

    .copywrite {
        font-size: 20px;
    }

}