.footer-container {
    display: block;
    width: 75%;
    margin-top: 15px;
    padding: 0 10%;
    padding-top: 10%;
    text-align: left;
  
  }
  
  .footer-icon-container h1,
  .footer-links h2 {
    padding-bottom: 20px;
    text-align: left;
  }
  
  .footer-links h2 {
    margin-top: 10px;
  }
  
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    padding-block: 20px;
  }
  
  .footer-icons a {
    padding-right: 20px;
  }
  
  .footer-links-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    gap: 25px;
    
  }

  .footer-links-wrapper h3 {
    margin: 8px 0;
  }

  .website-link {
    margin: 10px 0;
  }
  
  .footer-copyright {
    padding-block: 25px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left; 
  }
  @media screen and (min-width: 768px) {
  .footer-icons {
    justify-content: space-between;
    max-width: 50%;
  }

  .footer-icons a {
    padding-right: 20px;
  }

  .footer-links-wrapper {
    gap: 15px
  }
}





