.social-media-section {
    padding: 15px;
    margin-top: 41px;
    margin-bottom: 70px;
    padding-left: 100px;
}
.social-media-section > div {
    align-items: center;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 24px;
    
}

.icon-container {
    width: 57%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.icon {
    width: 48px;
}

@media (min-width: 1025px) {
    .social-media-section {
        padding-left: 145px;
        padding-right: 145px;
    }

    .title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .icon-container {
        width: 25%;
    }

}