.social-media-section {
    padding-left: 120px;
    margin-top: 41px;
    margin-bottom: 70px;
}
.social-media-section > div {
    align-items: center;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    
}

.icon-container {
    width: 57%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-media-section a {
}

@media (min-width: 1025px) {
    .social-media-section {
    }

    .title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .icon-container {

    }

}